@model Making_waves.Models.ViewValues
@{
    ViewBag.Title = "Making Waves";
}

    <table style="border-style:solid;border-width:1px;">
        
            <tr style="border-style:solid;border-width:1px;">
                <td>
                    <u>Group 1</u><br />
                    @{ foreach (var item in Model.group1)
                       {
                            @item.name<br />
                            @item.year<br />
                            @item.color<br />
                            @item.pantone_value
                       }
                    }
                </td>
            </tr>
        
        
            <tr style="border-style:solid;border-width:1px;">
                <td>
                    <u>Group 2</u><br />
                    @{ foreach (var item in Model.group2)
                        {
                            @item.name<br />
                            @item.year<br />
                            @item.color<br />
                            @item.pantone_value
                        }
                    }
                </td>
            </tr>
            <tr style="border-style:solid;border-width:1px;">
                <td>
                    <u>Group 3</u><br />
                    @{ foreach (var item in Model.group3)
                        {
                            @item.name<br />
                            @item.year<br />
                            @item.color<br />
                            @item.pantone_value
                        }
                    }
                </td>
            </tr>
        
    </table>







